<h1>Pages#welcome</h1>

<p>The current time is <%= Time.now %> </p>
<p>Our dessert recipes aer shared with love by the world
top <%= @chefs.size %> chefs in <%= @time %></p>

<ul>

<% @chefs.each do |chef| %>
<li><%= chef %></li>
<% end %>
</ul>